
footer{
    padding-top: 1em;
    height: 9em;
}

.footer-top{
    height: 6em;
    line-height: 6em;
}

.footer-bottom{
    color: $color-neutral-med;
    height: 4em;
    line-height: 4em;
    margin: 0;
}