
footer{
    padding-top: 1em;
    height: 9em;
}

.footer-top{
    height: 6em;
    line-height: 6em;
}

.footer-bottom{
    color: $color-neutral-med;
    padding: $box-padding;
    margin-bottom: 2em;
    p {
        margin-bottom: .25em;
    }
}